.reservation{
  padding: 6em 0;
}
.reservationContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}
.reservationCustomersSelect{
  border: 2px solid black;
  transition: all 0.3s;
  padding: 1em 3em;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.reservationCustomersSelect option{
  text-align: center;
  padding: 1em 3em;
}
.reservationCustomersSelect option:checked{
  background: white;
  color: black;
}
.reservationCustomersSelect option:hover{
  background: white;
  color: black;
}
.reservationCustomersSelect:hover{
  background: black;
  color: white;
  cursor: pointer;
}
.date{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}
.availableHours{
  text-align: center;
  color: black;
}
.hoursList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: black;
    gap: 1em;
  }
  
  .hoursList li {
    width: 20%;
    padding: 5px;
    text-align: center;
    border: 1px solid #404040;
    cursor: pointer;
    transition: all 0.3s;
  }
  .hoursList li:hover{
    background: #1A1A1A;
    color: white;
  }
  .reserved{
    background-color: #1A1A1A;
    color: gray;
    cursor: not-allowed;
  }
  .reserved:hover{
    color: gray!important;
    cursor: not-allowed;
  }
  .free{
    background-color: transparent;
    cursor: pointer;
  }
  .ReservationForm{
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .reservationTime{
    display: flex;
    flex-direction: row;
  }