.reservation{
  padding: 6em 0;
}
.reservationContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}
.date{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}
.availableHours{
  text-align: center;
  color: black;
}
.hoursList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: black;
    gap: 1em;
  }
  
  .hoursList li {
    width: 20%;
    padding: 5px;
    text-align: center;
    border: 1px solid #404040;
  }
  .reserved{
    background-color: #1A1A1A;
    color: gray;
    cursor: not-allowed;
  }
  .free{
    background-color: transparent;
    cursor: pointer;
  }
  .ReservationForm{
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .reservationTime{
    display: flex;
    flex-direction: row;
  }