.button{
    background: transparent;
    border: 2px solid white;
    padding: 1em 2em;
    cursor: pointer;
    color: white;
    margin-top: 2em;
    transition: 0.3s;
    font-weight: bold;
}
.button:hover{
    background: white;
    color:black;
}