.navigation{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #404040;
    max-width: 100%;
    padding: 0.5em;
    z-index: 9999;
}
.navigationList{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}
.navigationListItems{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navLink{
    text-decoration: none;
    color: white;
    padding: 1.5em 1em;
    transition: 0.3s;
}
.navLink:hover{
    color: #404040;
    background: white;
}
@media(max-width:1024px){
    .navigation{
        display: none;
    }
}